{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-5 p-3 shadow rounded" style="max-width: 600px;">
    <h2 class="text-ceter" style="padding-bottom: 10px">Send Emial</h2>
    <form action="{% url 'send_email' %}" method="POST" enctype="multipart/form-data">   <!-- incase working with file should include enctype -->
        {% csrf_token %}

        {{ email_form | crispy }}

        <input type="submit" value="Send" class="btn btn-success">
        
    </form>
    {% include 'alerts.html' %}
</div>


{% endblock %}
